
<%- include("partials/header"); -%>


<section class="mt-5">
<div class="container">
    <div class="row mt-5">
        <div class="col-sm-12">
            <h1 class="my-5 text-center" >Sıkça Sorulan Sorular</h1>
            <img class="img-fluid" src="https://bilimneguzellan.net/wp-content/uploads/2017/01/42.jpg">
        </div>
    </div>
</div>

<table class="table table-light mt-5">
    <tbody>
      <tr>
        <th scope="row"></th>
        <td class="text-center">
          <p>Hayat, evren ve her şeye dair nihai sorunun cevabı nedir?</p>
          <p>"42"</p>
        </td>
      </tr>
      <tr>
          <th scope="row"></th>
          <td class="text-center">
           <p>Üstünde ne var?</p>
           <p>"Atmosfer!"</p>
          </td>
      </tr>
    </tbody>
  </table>
</section>






<%- include("partials/footer"); -%>