
<%- include("partials/header"); -%>

<section class="mt-1">
  <div class="container">
  <table class="table table-light">
    <tbody>
      <tr>
        <th scope="row"></th>
        <td>
            <p class="info-title">Kim Lan Bunlar?</p>
        </td>
      </tr>
      <tr>
        <th scope="row"></th>
        <td>
            <p class="info-title">Yazarlar , Yazarlarımız</p>
        </td>
      </tr>
      </tbody>
      </table>
    </div>
</section>

<section>
  <div class="container">
      <table class="table table-light">
        <tbody>
      <tr>
        <th scope="row"></th>
        <td>
          <a href="https://bilimneguzellan.net/author/tilsimlikuark/"><img class="img-fluid profile-img" src="https://secure.gravatar.com/avatar/994546bcfd354a03f068cd7b368b8286?s=96&d=retro&r=g"></a>
          <a href="#" class="link-dark profile-title">Tılsımlı Kuark</a>
          <p class="profile-text">Beğendiği bilimsel haberleri kendi çapında paylaşırken bir gün, “Gel burada paylaş, bir işe yarasın,” dediler. O gün bugündür yazıyor işte. Durduramıyoruz. Mühendis ama gönlü sosyal bilimlerde. Işığı çok sever. Bir de Solvay Konferansı’na katılmak isterdi çünkü bütün favori insanları orada.</p>
        </td>
      </tr>
    </tbody>
  </table>
</div>
</section>






<%- include("partials/footer"); -%>