<footer id="footer" class="text-lg-start">
  <div class="text-center p-3 bg-dark text-light container-fluid">

    <p class="text-light">Copyright © 2022 Bilim Ne Güzel Lan. All rights reserved.</p>
    <i class="fa-brands fa-facebook icon-padding"></i>
    <i class="fa-brands fa-twitter icon-padding"></i>  
    <i class="fa-brands fa-instagram icon-padding"></i>
    <i class="fa-brands fa-youtube icon-padding"></i>
    <i class="fa-solid fa-rss icon-padding"></i>
 
  </div>
</footer>

</body>
</html>